<header class="site-header">

    <div class="wrapper">

        <object data="/assets/images/logo.svg" class="logo" type="image/svg+xml"></object>
        <div class="header-text">
        <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2 class="site-tagline">{{ site.tagline }}</h2>
        </div>

        <nav class="site-nav">
            <a href="{{ site.baseurl }}/">blog</a>
            <a href="{{ site.baseurl }}/cv/">cv</a>
            <a href="{{ site.baseurl }}/photos/">photos</a>
            <a href="{{ site.baseurl }}/about/">about</a>
            <div class="nav-source">
            <i class="fa fa-github gh-icon"></i><a href="http://github.com/{{ site.github_user }}/{{ site.github_repo }}/">source</a>
            </div>
        </nav>

    </div> <!-- .wrapper -->

</header>
