{% if page.revisions.size > 1 %}
<section class="revision">
  <h3>Revision history</h3>
  {% for rev in page.revisions limit:3 %}
      <span class="rev-author">{{ rev.author }}</span> edited this post on <span class="rev-date">{{ rev.date | date_to_string }}</span>
        <p><i class="fa fa-angle-right rev-icon fa-lg"></i><code>{{ rev.message | strip | truncate: 50 }}</code><a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/commit/{{ rev.hash }}" class="rev-hash"><code>{{ rev.shorthash }}</code></a></p>
  {% endfor %}
    {% if page.revisions.size > 3 %}
    <p>...</p>
    {% endif %}
    
</section>
{% endif %}
