---
layout: default
---
<div class="post">

    <p class="pdf-ver">PDF version: <i class="fa fa-file-pdf-o"></i> <a href="/assets/tamasnagy_cv.pdf"> tamasnagy_cv.pdf</a></p>
    
    
    
  <header class="post-header">
    <h2 class="post-title">Tamas L. Nagy</h2>
  </header>

  <article class="post-content">
    {{ content | replace: 'h1', 'h3' | replace: 'tamas [at] tamasnagy.com', '<span style="unicode-bidi:bidi-override; direction: rtl;">moc.ygansamat@samat</span>' }}
  </article>



</div>