---
layout: default
---
<div class="post">
<article class="post-content">
    <header class="post-header">
    <h2 class="post-title">galleries</h2>
  </header>
<section id="photos">
{% for gallery in page.galleries %}
    <a href="{{ gallery['gallery'] }}">
        <img src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
        <div class="data">
            <div>
             <h4>{{ gallery["name"] | downcase}}</h4>
             <p><i class="fa fa-file-image-o"></i> {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}</p>
            </div>    
        </div>
    </a>
{% endfor %}
</section>
</article>
</div>