---
layout: page
---
<section id="photos">
{% for data in page.images %}
    <a href="{{ data["image"] }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
        <img src="thumbs/{{ data["image"] }}" />
        <div class="data">
            <div>
            <p><i class="fa fa-camera-retro"></i> {{ data["model"] }}</p>
            <p><i class="fa fa-clock-o"></i> {{ data["exposure"] }}</p>
            <p><i class="fa fa-dot-circle-o"></i> {{ data["fstop"] }}</p>
            </div>
        </div>
    </a>
{% endfor %}
</section>
