---
layout: page
---
<style TYPE="text/css">
#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   -moz-column-count:    2;
   -moz-column-gap:      0px;
   column-count:         2;
   column-gap:           0px;
}
    
#photos a{
    display: block;
    width: 100%;
    cursor: pointer;
    position: relative;

}

#photos a img {
  /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}
#photos a .data {
	position: absolute;
	left: 1em;
	top: 1em;
	right: 1em;
	bottom: 1em;
    padding: 2em;
	background: rgba(186, 186, 186, 0.4);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
}
#photos a:hover .data {
	opacity: 1;
}
</style>
<section id="photos">
{% for data in page.images %}
    <a href="{{ data["image"] }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
        <img src="thumbs/{{ data["image"] }}" />
        <div class="data">
            <div>
            <p><i class="fa fa-camera-retro"></i> {{ data["model"] }}</p>
            <p><i class="fa fa-clock-o"></i> {{ data["exposure"] }}</p>
            <p><i class="fa fa-dot-circle-o"></i> {{ data["fstop"] }}</p>
            </div>
        </div>
    </a>
{% endfor %}
</section>
